%article.product
  %h1= @product.name

  %p= @product.description

  %strong
    = @product.price_in.exchange_to(@product.currency)
    = @product.currency

  = link_to 'Shut up and take my money!', '#'

= link_to 'Back to product list', products_path
